.related-product-cards {
  padding: 35px 0;

  [class*='col-'] {
      margin-bottom: 20px;



  }

  .related-cards {
    //display: flex;
    //flex-wrap: wrap;

    .related-card {
      //width: 32.2%;
      //margin-bottom: 1.7%;
      //margin-right: 1.7%;

      position: relative;
      display: flex;
      height: 100%;

      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      overflow: hidden;

      background: #004e8f;

      img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 100%;
        height: 326px;
        object-fit: cover;
      }

      .text-area {
        /*background: #004e8f;*/
        //padding: 30px 20px 25px 20px;
        padding: 30px 20px 60px 20px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        //min-height: 340px;
        //position: relative;

        p {
          color: #fff;
          margin-bottom: 10px;

          &.title {
            font-size: 22px;
            font-weight: bold;

            a {
              color: #fff;
            }
          }

          &.link {
            margin-top: 20px;
            margin-bottom: 0;
            position: absolute;
            bottom: 20px;

            a {
              font-weight: bold;
              color: #fff;
              display: inline-flex;
              margin-bottom: 0;

              .fa-angle-right {
                font-size: 26px;
                margin-bottom: -3px;

                &::before {
                  text-decoration: none !important;
                  display: inline-block;
                }
              }

              &:hover {
                text-decoration: underline;
              }


            }
          }
        }
      }
    }


    .col-lg-4:nth-child(3n+1) .related-card {
      background: #004e8f;
    }

    .col-lg-4:nth-child(3n+2) .related-card {
       background: #0c6fa3;
    }

    .col-lg-4:nth-child(3n+0) .related-card {
      background: #3b6097;
    }
    /*
    &:nth-child(5n+3) {
      background: #3b6097;
    }*/


    .related-card-more {
      display: inline-flex;
      justify-content: center;
      width: 100%;
      margin-top: 10px;

      button {
        font-size: 18px;
        font-weight: 500;
        color: #0073D1;
        background: #fff;
        border: 1px solid #0073d1;
        padding: 10px 20px;
        border-radius: 5px;

        &:hover {
          background: #0073D1;
          color: #fff;
        }

        .fas {
          margin-left: 5px;
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  .related-product-cards {

    .related-cards {

      .related-card {
        //width: 47% !important;

        img {
          height: 330px;
        }

        .text-area {
          padding: 35px 20px 60px 20px;
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .related-product-cards {

    h3 {
      font-size: 32px;
      line-height: 40px;
    }

    .related-cards {

      .related-card {
        //width: 99% !important;
        margin-bottom: 20px;

        img {
          height: unset;
        }

        .text-area {
          padding: 25px 15px 60px 15px;

          p {

            &.title {
              font-size: 24px;
              line-height: 32px;

              a {
                font-size: 24px;
                line-height: 32px;
              }
            }

            &.small {
              font-size: 16px;
              line-height: 24px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
