.resources-icons {
  padding: 35px 0;

  .resources {
    margin-bottom: 20px;
    height: 100%;
    padding-bottom: 20px;
    position: relative;

    .resource-content {
        padding-bottom: 50px;
    }

    .resource-link {
        position: absolute;
        bottom: 20px;
        a {
            line-height: 1.2em;
        }
    }

    h3 {
      font-size: 20px;
      line-height: 1.3em;
      margin-bottom: 3px;
      font-weight: 700;
    }

    p {
      color: #344757;
      font-size: 18px;
      letter-spacing: -0.34px;
      line-height: 1.4em;
      padding-top: 6px;
    }


    /*
    p,
    a {
      color: #344757;
      font-size: 18px;
      letter-spacing: -0.34px;
      line-height: 1.4em;
      padding-top: 6px;
    }

    a:hover {
      color: #008BFF;
      text-decoration: underline;
    }
    */
    img {
      max-width: 100%;
    }
  }
}
@media (max-width: 575.98px) {
  .resources-icons {
    h3 {
      font-size: 32px;
      line-height: 40px;
    }

    .resources {
      padding: 0 10px 20px 10px;
      margin-bottom: 20px;

      a,
      p {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}
