.upcoming-classes {

  .upcoming-class {
    padding: 23px;

    .square-image {

      img {
        border-radius: 8px;
      }
    }

    .text-area {
      padding: 20px;

      p {

        &.title {
          font-size: 22px;
          font-weight: bold;
          letter-spacing: -0.34px;
          line-height: 1.2;
          color: #003A6B;
        }
      }

      .btn-primary {
        padding: 10px 25px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .upcoming-class {
    .col-6 {
      -ms-flex: 0 0 100%!important;
      flex: 0 0 100%!important;
      max-width: 100%!important;
      margin: 0 0 15px 0!important;
      text-align: center!important;
    }
  }
}

@media (max-width: 767.98px) {
  .upcoming-classes {
    padding: 10px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #18BCEE;

    h5 {
      font-size: 24px;
    }

    p.small {
      font-size: 16px;
      line-height: 24px;
    }

    .upcoming-class {
      padding: 10px 0 20px;

      .col-6 {
        -ms-flex: 0 0 50%!important;
        flex: 0 0 50%!important;
        max-width: 50%!important;
        margin: 0 0 15px 0!important;
        text-align: center!important;
      }
      .text-area {
        padding: 25px 5px 5px;

        p {

          &.title {
            font-size: 20px;
            font-weight: bold;
            letter-spacing: -0.34px;
            line-height: 32px;
            color: #003A6B;
          }
        }

        .btn-primary {
          padding: 10px 25px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .upcoming-class {
    .col-6 {
      display: block!important;
      -ms-flex: 0 0 100%!important;
      flex: 0 0 100%!important;
      max-width: 100%!important;
      margin: 0 0 15px 0!important;
      text-align: center!important;
    }
  }
}